@charset "UTF-8";
/**
 * 
 * @authors Your Name (you@example.org)
 * @date    2016-07-11 10:43:19
 * @version $Id$
 */
* {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  text-decoration: none;
}
body {
  background-color: #f2f2f2;
  width: 10rem;
  margin: 0 auto;
}
header {
  position: relative;
}
header .serach-box {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 10rem;
  margin: 0 auto;
  padding: 0.186rem 0 0.186rem 0.213rem;
  background-color: #f2f2f2;
}
header .serach-box .serach {
  position: relative;
  height: 0.693rem;
  line-height: 0.693rem;
  width: 8.32rem;
  border: 1px solid #999;
  overflow: hidden;
  border-radius: 0.133rem;
  box-shadow: 0 0.053rem 0.106rem rgba(0, 0, 0, 0.2);
  padding: 0 0.133rem;
}
header .serach-box .serach span {
  vertical-align: middle;
  position: absolute;
  margin-left: 0.133rem;
  top: 0.106rem;
  left: 0;
  width: 0.4rem;
  z-index: 2;
  height: 0.48rem;
  background: url(../images/un_ico_home_v66.png) no-repeat -1.57rem -7.36rem;
  background-size: 2.77rem 8.69rem;
}
header .serach-box .serach input {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  padding-left: 0.533rem;
  width: 8.053rem;
  height: 0.693rem;
  outline: none;
}
header .serach-box .user {
  width: 1.173rem;
  height: 1.173rem;
  position: absolute;
  top: 0;
  right: 0.213rem;
  font-size: 12px;
  color: #2EAAE0;
  font-weight: bold;
}
header .serach-box .user span {
  display: block;
  width: 100%;
  position: absolute;
  bottom: 0.05rem;
  left: 0;
  text-align: center;
}
header .serach-box .user:before {
  position: absolute;
  top: 0.106rem;
  left: 50%;
  margin-left: -0.3rem;
  content: "\0020";
  width: 0.65rem;
  height: 0.693rem;
  background: url(../images/un_ico_home_v66.png) no-repeat -1.57rem -5.146rem;
  background-size: 2.77rem 8.69rem;
}
header .carousel {
  margin-top: 1.16rem;
  width: 10rem;
  height: 2rem;
  position: relative;
}
header .carousel .carousel-con {
  width: 10rem;
  height: 2rem;
  overflow: hidden;
  position: relative;
}
header .carousel .carousel-con ul {
  width: 70rem;
  height: 2rem;
  position: absolute;
  overflow: hidden;
  transform: translateX(-10rem);
}
header .carousel .carousel-con ul li {
  float: left;
  width: 10rem;
  height: 2rem;
}
header .carousel .carousel-con ul li a img {
  width: 10rem;
  height: 2rem;
}
header .carousel .carousel-title {
  position: absolute;
  z-index: 10;
  bottom: 0.266rem;
  left: 3.653rem;
  overflow: hidden;
}
header .carousel .carousel-title span {
  float: left;
  overflow: hidden;
  border-radius: 50%;
  width: 0.213rem;
  height: 0.213rem;
  margin: 0 0.133rem;
  background-color: rgba(255, 255, 255, 0.6);
}
header .carousel .carousel-title span.carousel-on {
  background-color: #099fde;
}
nav {
  padding: 0.106rem;
  width: 9.788rem;
  margin-bottom: 0.106rem;
  background-color: #fff;
}
nav .row {
  width: 100%;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  margin-bottom: 0.106rem;
  justify-content: space-around;
}
nav .row a {
  font-size: 15px;
  color: #fff;
  display: block;
  text-align: center;
}
nav .row .col {
  height: 2.4rem;
  flex: 1;
  border-left: 1px solid #fff;
}
nav .row div:nth-child(1) {
  position: relative;
  border-top-left-radius: 0.133rem;
  border-bottom-left-radius: 0.133rem;
  border-left: none;
}
nav .row div:nth-child(1) a {
  line-height: 1.2rem;
  height: 2.4rem;
}
nav .row div:nth-child(1) a:after {
  position: absolute;
  left: 50%;
  margin-left: -0.533rem;
  bottom: 0.375rem;
  width: 1.066rem;
  height: 0.88rem;
  content: "";
}
nav .row div:nth-child(2) a {
  display: block;
  line-height: 1.2rem;
}
nav .row div:nth-child(2) a:nth-child(2) {
  border-top: 1px solid #fff;
}
nav .row div:nth-child(3) {
  border-top-right-radius: 0.133rem;
  border-bottom-right-radius: 0.133rem;
}
nav .row div:nth-child(3) a {
  display: block;
  line-height: 1.2rem;
}
nav .row div:nth-child(3) a:nth-child(2) {
  border-top: 1px solid #fff;
}
nav .row .col1 {
  background-color: #ff697a;
}
nav .row1 .col {
  background-color: #ff697a;
}
nav .row1 div:nth-child(1) a:after {
  background: url(../images/un_ico_home_v66.png) no-repeat 0 -3.466rem;
  background-size: 2.77rem 8.69rem;
}
nav .row2 .col {
  background-color: #3d98ff;
}
nav .row2 div:nth-child(1) a:after {
  background: url(../images/un_ico_home_v66.png) no-repeat -1.333rem -3.2rem;
  background-size: 2.77rem 8.69rem;
}
nav .row3 .col {
  background-color: #44c522;
}
nav .row3 div:nth-child(1) a:after {
  background: url(../images/un_ico_home_v66.png) no-repeat 0 -4.8rem;
  background-size: 2.77rem 8.69rem;
}
nav .row4 {
  margin-bottom: 0;
}
nav .row4 .col {
  background-color: #fc9720;
}
nav .row4 div:nth-child(1) a {
  display: block;
  line-height: 1.2rem;
  height: 1.2rem;
}
nav .row4 div:nth-child(1) a:nth-child(2) {
  border-top: 1px solid #fff;
}
.subnav {
  margin-bottom: 0.213rem;
}
.subnav .row {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
}
.subnav .row div {
  flex: 1;
  margin-bottom: 1px;
  margin-right: 1px;
  background-color: #fff;
}
.subnav .row div a {
  position: relative;
  font-size: 0.373rem;
  color: #000;
  height: 0.747rem;
  display: block;
  text-align: center;
  padding-top: 1.066rem;
}
.subnav .row div a:before {
  position: absolute;
  top: 0.293rem;
  left: 50%;
  content: "";
  width: 0.693rem;
  height: 0.666rem;
  margin-left: -0.346rem;
  background: url(../images/un_ico_subnav.png) no-repeat;
  background-size: 26px auto;
}
.subnav .row1 div:nth-child(1) a:before {
  background-position: 0 0;
}
.subnav .row1 div:nth-child(2) a:before {
  background-position: 0 -0.8rem;
}
.subnav .row1 div:nth-child(3) a:before {
  background-position: 0 -1.6rem;
}
.subnav .row1 div:nth-child(4) a:before {
  background-position: 0 -2.4rem;
}
.subnav .row2 div:nth-child(1) a:before {
  background-position: 0 -3.2rem;
}
.subnav .row2 div:nth-child(2) a:before {
  background-position: 0 -4rem;
}
.subnav .row2 div:nth-child(3) a:before {
  background-position: 0 -4.8rem;
}
.subnav .row2 div:nth-child(4) a:before {
  background-position: 0 -5.6rem;
}
.sales-box {
  width: 100%;
  background-color: #fff;
}
.sales-box h2 {
  margin: 0 0.213rem;
  position: relative;
  width: 9.574rem;
  height: 1.173rem;
  line-height: 1.173rem;
}
.sales-box h2 span {
  position: absolute;
  top: 50%;
  left: 0;
  background: url(../images/sales-box.png) no-repeat;
}
.sales-box h2 a {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 0.32rem;
  color: #fff;
  line-height: 0.533rem;
  height: 0.533rem;
  margin-top: -0.2rem;
  border-radius: 0.533rem;
  padding: 0 0.48rem 0 0.32rem;
}
.sales-box .sales-bd {
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
  margin: 0 0.213rem 0.213rem;
  padding-bottom: 0.213rem;
}
.sales-box .sales-bd > div {
  flex: 1;
}
.sales-tmh h2 span {
  width: 2.106rem;
  height: 0.4rem;
  margin-top: -0.2rem;
  background-size: 2.106rem auto;
  background-position: 0 0;
}
.sales-tmh h2 a {
  background: -webkit-linear-gradient(left, #ff4e63, #ff6cc9);
  background: -moz-linear-gradient(left, #ff4e63, #ff6cc9);
  background: -ms-linear-gradient(left, #ff4e63, #ff6cc9);
  background: -o-linear-gradient(left, #ff4e63, #ff6cc9);
  background: linear-gradient(left, #ff4e63, #ff6cc9);
}
.sales-tmh .sales-bd .js-seckill-box {
  flex: 1;
  padding-bottom: 0.5rem;
  margin-right: 0.053rem;
  background-color: #f2f2f2;
}
.sales-tmh .sales-bd .js-seckill-box a {
  font-size: 0.32rem;
  color: #000;
}
.sales-tmh .sales-bd .js-seckill-box a .sales-img {
  position: relative;
  width: 4.733rem;
  height: 3.12rem;
}
.sales-tmh .sales-bd .js-seckill-box a .sales-img img {
  width: 100%;
  height: 100%;
}
.sales-tmh .sales-bd .js-seckill-box a .sales-img span.flag-hot {
  position: absolute;
  top: 0;
  left: 0;
  color: #fff;
  background-color: #fd3a51;
  line-height: 0.533rem;
  padding: 0 0.16rem 0 0.213rem;
}
.sales-tmh .sales-bd .js-seckill-box a .sales-img span.flag-hot:after {
  position: absolute;
  top: 0;
  right: -0.213rem;
  border-width: 0.533rem 0.213rem;
  border-color: #fd3a51 transparent transparent;
  border-style: solid;
  content: "";
}
.sales-tmh .sales-bd .js-seckill-box a .sales-img div.sales-countdown {
  position: absolute;
  overflow: hidden;
  width: 4.467rem;
  height: 0.667rem;
  padding: 0 0.133rem;
  box-sizing: content-box;
  line-height: 0.667rem;
  color: #fff;
  left: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  text-align: right;
}
.sales-tmh .sales-bd .js-seckill-box a .sales-img div.sales-countdown span.js-words {
  float: left;
}
.sales-tmh .sales-bd .js-seckill-box a .sales-img div.sales-countdown span.js-hour,
.sales-tmh .sales-bd .js-seckill-box a .sales-img div.sales-countdown span.js-min,
.sales-tmh .sales-bd .js-seckill-box a .sales-img div.sales-countdown span.js-sec {
  border: 1px solid #fff;
}
.sales-tmh .sales-bd .js-seckill-box a p {
  height: 1rem;
  padding: 0.213rem;
  text-overflow: ellipsis;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-box;
  display: -o-box;
  display: box;
  -webkit-line-clamp: 2;
  -moz-line-clamp: 2;
  -ms-line-clamp: 2;
  -o-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  -ms-box-orient: vertical;
  -o-box-orient: vertical;
  box-orient: vertical;
  line-height: 0.56rem;
  overflow: hidden;
}
.sales-tmh .sales-bd .js-seckill-box a div.sales-price em {
  color: #ff495e;
  font-style: normal;
  font-size: 0.48rem;
}
.sales-tmh .sales-bd .js-seckill-box a div.sales-price em dfn {
  font: 0.32rem/1.5 arial;
}
.sales-tmh .sales-bd .js-seckill-box a div.sales-price em b {
  font-size: 0.4rem;
  line-height: 0.5rem;
  height: 0.5rem;
  border-radius: 0.5rem;
}
.sales-tmh .sales-bd .js-seckill-box a div.sales-price span {
  display: inline-block;
  text-align: center;
  color: #fff;
  background-color: #ff495e;
  font-size: 0.32rem;
  line-height: 0.4rem;
  height: 0.4rem;
  width: 0.8rem;
  border-radius: 0.4rem;
}
.sales-tmh .sales-bd .js-salesad-box {
  flex: 1;
}
.sales-tmh .sales-bd .js-salesad-box a {
  color: #000;
  font-size: 0.32rem;
}
.sales-tmh .sales-bd .js-salesad-box .sales-list {
  background-color: #f2f2f2;
  height: 2.346rem;
  margin-bottom: 0.106rem;
}
.sales-tmh .sales-bd .js-salesad-box .sales-list a {
  position: relative;
  display: block;
  height: 2.346rem;
}
.sales-tmh .sales-bd .js-salesad-box .sales-list a img {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 1.44rem;
  height: 1.92rem;
}
.sales-tmh .sales-bd .js-salesad-box .sales-list a .sales-list-title {
  padding-left: 0.213rem;
  padding-top: 0.213rem;
}
.sales-tmh .sales-bd .js-salesad-box .sales-list a .sales-list-title h3 {
  color: #fd3a51;
}
.sales-tmh .sales-bd .js-salesad-box .sales-list a .sales-list-title p {
  color: #444;
}
.sales-tmh .sales-bd .js-salesad-box .sales-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
}
.sales-tmh .sales-bd .js-salesad-box .sales-row .sales-col {
  flex: 1;
  text-align: center;
  background-color: #f2f2f2;
}
.sales-tmh .sales-bd .js-salesad-box .sales-row .sales-col a img {
  margin-top: 1rem;
  width: 1.333rem;
  height: 0.933rem;
}
.sales-tmh .sales-bd .js-salesad-box .sales-row .sales-col1 {
  margin-right: 0.106rem;
}
.sales-tmh .sales-bd .js-salesad-box .sales-row .sales-col1 a h3 {
  margin-top: 0.213rem;
  color: #6aabff;
}
.sales-tmh .sales-bd .js-salesad-box .sales-row .sales-col1 a p {
  color: #444;
}
.sales-tmh .sales-bd .js-salesad-box .sales-row .sales-col1 a p span {
  color: #6aabff;
}
.sales-tmh .sales-bd .js-salesad-box .sales-row .sales-col2 a h3 {
  margin-top: 0.213rem;
  color: #53ca72;
}
.sales-tmh .sales-bd .js-salesad-box .sales-row .sales-col2 a p {
  color: #444;
}
.sales-tmh .sales-bd .js-salesad-box .sales-row .sales-col2 a p span {
  color: #53ca72;
}
.sales-huodong h2 span {
  width: 2.106rem;
  height: 0.4rem;
  margin-top: -0.2rem;
  background-size: 2.106rem auto;
  background-position: 0 -0.506rem;
}
.sales-huodong h2 a {
  background: -webkit-linear-gradient(left, #ffa93a, #ffd35c);
  background: -moz-linear-gradient(left, #ffa93a, #ffd35c);
  background: -ms-linear-gradient(left, #ffa93a, #ffd35c);
  background: -o-linear-gradient(left, #ffa93a, #ffd35c);
  background: linear-gradient(left, #ffa93a, #ffd35c);
}
.sales-huodong div.sales-bd {
  margin: 0;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
}
.sales-huodong div.sales-bd > div {
  flex: 1;
}
.sales-huodong div.sales-bd .js-seckill-box a {
  display: block;
}
.sales-huodong div.sales-bd .js-seckill-box a img {
  width: 100%;
  height: 100%;
}
.sales-huodong div.sales-bd .js-seckill-box div:nth-child(1) a {
  width: 5rem;
  height: 5rem;
}
.sales-huodong div.sales-bd .js-seckill-box div:nth-child(2) a {
  width: 5rem;
  height: 2.5rem;
}
.sales-huodong div.sales-bd .js-salesad-box a {
  display: block;
  width: 5rem;
  height: 2.5rem;
}
.sales-huodong div.sales-bd .js-salesad-box a img {
  width: 100%;
  height: 100%;
}
footer {
  margin-top: 0.213rem;
}
footer .tool-cn {
  background-color: #fff;
  display: flex;
  display: -webkit-box;
  display: -webkit-flex;
}
footer .tool-cn a {
  flex: 1;
  display: block;
  color: #333;
  font-size: 0.32rem;
  text-align: center;
  position: relative;
  height: .580rem;
  padding-top: 0.693rem;
}
footer .tool-cn a:before {
  position: absolute;
  left: 50%;
  top: 0.186rem;
  transform: translateX(-50%);
  display: block;
  background: url(../images/un_ico_home_v66.png) no-repeat;
  background-size: 2.77rem 8.69rem;
  content: "";
  width: 0.426rem;
  height: 0.453rem;
}
footer .tool-cn a:nth-child(1):before {
  background-position: -1.6rem -4.08rem;
}
footer .tool-cn a:nth-child(2):before {
  background-position: -1.6rem -4.613rem;
}
footer .tool-cn a:nth-child(3):before {
  background-position: -1.6rem -8.213rem;
  width: 0.48rem;
  height: 0.506rem;
}
footer .tool-ver {
  background-color: #f2f2f2;
  font-size: 0.32rem;
  color: #666;
  text-align: center;
  padding-top: 0.213rem;
}
footer .tool-ver a {
  font-size: 0.32rem;
  color: #666;
  margin: 0 0.106rem;
}
